//#title;
{
//color: white;
//background-color: lightgreen;
//border: 2px solid red;
//padding:20px;
//font-weight: bold;
}
h1, h2
{
color: lightblue;
text-align: center;
}
h3
{
text-align: center;
}
body
{
//background-image: url("images/background.jpg");
//background-color: darkgray;
background-color: white;
}

div
{
	display: flex;
	justify-content: center;
	text-align: center;
}

.center {
	//display: flex;
	//text-align: center;
	justify-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


.content {
	max-width: 960px;
	margin: auto;
}


img.logo
{
height: 80px;
//width: 50px;
}


.navigation
{
//position: fixed;
//top: 0;
width: 100%;
margin-bottom: 40px;
//display: flex;
//justify-content: space-between;
//border: 1px solid #e7e7e7;
//background-color: gray;//#333333;
}
.navigation a
{
//display: inline-block;
//default for a is inline;
//display: block;
//text-align: center;
//background-color: #dddddd;

//color: lightblue;
padding: 16px;
text-decoration: none;
//transition: all 1s ease;

//box-shadow: inset 0 0 0 0 #54b3d6;
box-shadow: inset 0 0 0 0 lightblue;
color: #54b3d6;
//margin: 0 -.25rem;
transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.navigation a:hover:not(.active)
{
//background-color: black;
box-shadow: inset 100px 0 0 0 lightblue;
//box-shadow: inset 100px 0 0 0 #54b3d6;
color: white;
}
.navigation a.active
{
//background-color: #dddddd;
border-bottom: 4px solid lightblue;
}

footer
{
//position: fixed;
//position: sticky;
//bottom: 0;
width: 100%;
height: 40px;
border: 1px solid #e7e7e7;
background-color: gray;//#333333;
//background-color: #777;
//padding: 8px;
//text-align: center;
//vertical-align: middle;
margin-top: 40px;
color: white;
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

iframe
{
height: 500px;
width: 800px;
margin: 0 auto;
display:block;
//background-color: gray;
border:2px solid gray;
text-align: center;
}

/*Emphasized Words*/
em
{
//color: red;
}
.importantitem
{
font-size: 120%;
color: red;
}
.specialmove
{
font-size: 120%;
color: lightblue;
}
/*End Emphasized Words*/



div.gallery
{
display: flex;
flex-wrap: wrap;
justify-content: center;
//border: 1px solid #ccc;
//padding-bottom: 20px;
padding: 20px;
transition: width 1s;
}
div.gallery:hover
{
//border: 1px solid #777;
//background-color: lightgray;
}
div.gallery figure
{
//border: 1px solid #ccc;
//border: thin solid gray;
//background-color: lightgray;
//width: 320px;
//margin: 10px;
padding: 40px;
border-radius: 20px;
transition: background-color 1s, transform 1s;
}
div.gallery figure:hover
{
//border: 1px solid #777;
background-color: lightgray;
//border-radius: 10%;
transform: scale(1.5);
}
div.gallery figcaption
{

}
div.gallery figure img
{
max-width: 240px;
max-height: 240px;
border-radius: 20px;
//transition: transform 1s;
}
div.gallery figure img:hover
{
//transform: scale(2);
}

.spacer
{
height: 100px;
}
