h1 {
	border-bottom: 1px solid lightgray;
}
h1, h2 {
	color: #54b3d6;
	text-align: center;
}
h3 {
	text-align: center;
	/*border: 1px dashed lightgray;*/
}
body
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}
.content
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
}

.center
{
	display: flex;
	text-align: center;
	justify-content: center;
}

/*img.logo
{
height: 80px;
//width: 50px;
}*/


.activePageButton
{
	text-decoration: none;
	background-color: #54b3d6;
	color: #ffffff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100px;
}
.inactivePageButton
{
	text-decoration: none;
	box-shadow: inset 0 0 0 0 #54b3d6;
	color: #54b3d6;
	/*transition: color .5s ease-in-out, box-shadow .5s ease-in-out;*/
	transition: all 1s;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100px;
}
.inactivePageButton:hover
{
	box-shadow: inset 100px 0 0 0 #54b3d6;
	color: white;
}

footer
{
	border-top: 1px solid darkgray;
	height: 40px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
/*@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}*/

iframe {
	min-width: 800px;
	min-height: 450px;
	margin: 0 auto;
	display: block;
	background-color: lightgray;
	border: 1px solid black;
	text-align: center;
	/*background-image: url("images/farm/farming.gif");*/
}

.importantitem
{
	font-size: 120%;
	color: red;
}
.specialmove
{
	font-size: 120%;
	color: lightblue;
}




.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: width 1s;
	border: 1px dashed lightgray;
}
.gallery figure
{
	padding: 20px;
	border-radius: 20px;
	transition: background-color 1s, transform 1s;
}
.gallery figure:hover
{
	background-color: lightgray;
	transform: scale(1.25);
}
/*div.gallery figcaption
{
}*/
.gallery figure img
{
	max-width: 240px;
	max-height: 240px;
	border-radius: 20px;
	/*transition: transform 1s;*/
}
/*div.gallery figure img:hover
{
	transform: scale(2);
}*/


.inlineButton
{
	all: unset;
	background-color: white;
	border: 1px solid black;
	text-decoration: none;
	box-shadow: inset 0 0 0 0 #54b3d6;
	color: #54b3d6;
	/*transition: color .5s ease-in-out, box-shadow .5s ease-in-out;*/
	transition: all 1s;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100px;
	cursor: pointer;
	margin: 10px;
}
.inlineButton:hover
{
	box-shadow: inset 100px 0 0 0 #54b3d6;
	color: white;
}

button
{
	background-color: white;
	border: none;
	border-radius: 20px;
	font-size: 24px;
	padding: 16px;
	box-shadow: inset 0 0 0 0 #54b3d6;
	color: #54b3d6;
	transition: all 1s;
	cursor: pointer;
	margin: 10px;
}
button:hover
{
	background-color: #54b3d6;
	color: white;
}

.paintBrush {
    cursor: url("images/paintBrush.png"), auto;
}

.rounded
{
	padding-left: 16px;
	padding-right: 16px;

	border: 2px solid transparent;
	background: linear-gradient(white, rgb(255, 255, 255)) padding-box,
	radial-gradient(circle, #2193b0, #6dd5ed) border-box;
	
	border-radius: 32px;
}